@using MagazaUrunTakipSistemi.Models.Entity
@model List<TblSatis>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ürün</th>
            <th>Personel</th>
            <th>Müşteri</th>
            <th>Fiyat</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.TblUrunler.Ad</td>
                <td>@x.TblPersonel.Ad</td>
                <td>@x.TblMusteri.Ad</td>
                <td>@x.Fiyat</td>
                <td>@x.Tarih</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Satis/YeniSatis/" class="btn btn-success">Yeni Satis</a>

